name: Test scala
on:
  workflow_call:
    inputs: 
      workdir:
        required: true
        type: string
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Scala
        uses: olafurpg/setup-scala@v13
      - name: Cache sbt
        uses: actions/cache@v2
        with:
          path: |
            ~/.sbt
            ~/.ivy2/cache
            ~/.coursier
          key: sbt-cache-${{ runner.os }}-${{ matrix.target-platform }}-${{ hashFiles('project/build.properties') }}
      - name: Check formatting
        run: sbt scalafmtCheckAll
        working-directory: ${{ inputs.workdir }}
      - name: Compile
        run: sbt Test:compile
        working-directory: ${{ inputs.workdir }}
      - name: Run tests
        run: sbt test
        working-directory: ${{ inputs.workdir }}
